.container {
  max-width: 95vw;
  width: 100%;
  padding: 2vw 0;
  margin: auto;
}
.videoContainer {
  display: flex;
}
.video {
  padding: 2vw 1vw 2vw 4vw;
  width: 100%;
  height: 100%;
}
.videoTitle {
  font-size: 2vw;
  margin-bottom: 2vw;
}
.videoSharedby {
  font-size: 1.6vw;
  margin-bottom: 2vw;
}
.description {
  font-size: 1.4vw;
  font-weight: 700;
}
.video iframe {
  min-width: 50vw;
  width: 100%;
  min-height: 50vh;
  height: 100%;
}
.content {
  padding: 2vw;
}
@media (max-width: 37.5em) {
  .videoContainer {
    flex-direction: column;
  }
  .video {
    padding: 1rem;
  }
}
@media (max-width: 25em) {
  .description {
    font-size: 3vw;
  }
  .videoTitle {
    font-size: 4vw;
  }
  .videoSharedby {
    margin-bottom: 2vh;
    font-size: 3.5vw;
  }
}
