.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  max-width: 90vw;
  width: 100%;
  margin: auto;
  padding: 2vw 0 0.5vw;
  border-bottom: 1px solid #333;
}
.user {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1vw;
}
.user span {
  text-transform: capitalize;
  margin-right: 0.5vw;
}
.user img {
  width: 2vw;
  height: 2vw;
  margin-right: 0.5vw;
  border-radius: 50%;
}
.btn {
  padding: 1vw 2vw;
  color: #333;
  box-shadow: 0.3vw 0.3vw 0 0 #333;
  border: 1px solid #333;
  text-decoration: none;
  transition: box-shadow 0.3s ease-in-out;
}
.btn:hover {
  box-shadow: 0.6vw 0.6vw 0 0 #333;
}
.btnShare {
  margin-right: 1vw;
}
.logo {
  display: flex;
  align-items: center;
  font-size: 3vw;
  color: #333;
}
.logoName {
  margin-left: 1vw;
  font-size: 4vw;
  text-transform: capitalize;
}
@media (max-width: 25em) {
  .nav {
    flex-direction: column;
    padding-bottom: 1vh;
    align-items: flex-start;
  }
  .logoName {
    font-size: 5vw;
  }
  .logo {
    font-size: 5vw;
    margin-bottom: 1vh;
  }
  .user {
    justify-content: space-between;
    font-size: 3vw;
  }
  .user img {
    width: 5vw;
    height: 5vw;
  }
}
