nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  max-width: 90vw;
  width: 100%;
  margin: auto;
  padding: 2rem 0 0.5rem;
  border-bottom: 1px solid #333;
}
.user {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 2rem;
}
.user span {
  text-transform: capitalize;
  margin-right: 2rem;
}
.btn {
  padding: 1rem 2rem;
  color: #333;
  box-shadow: 3px 3px 0 0 #333;
  border: 1px solid #333;
  text-decoration: none;
  transition: box-shadow 0.3s ease-in-out;
}
.btn:hover {
  box-shadow: 6px 6px 0 0 #333;
}
.btn--share {
  margin-right: 1rem;
}
.logo {
  display: flex;
  align-items: center;
  font-size: 3rem;
  color: #333;
}
.logo__name {
  margin-left: 1rem;
  font-size: 4rem;
  text-transform: capitalize;
}
