.shareForm {
  margin-top: 4vh;
}
.inputContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1vh;
}
.input {
  padding: 2vh 2vw;
  text-indent: 1vw;
  text-align: center;
  border-radius: 3px;
  max-width: 50vw;
  width: 100%;
  border: 1px solid #eee;
}
.label {
  text-transform: capitalize;
  margin-right: 2vw;
  font-size: 2vw;
}
.fieldset {
  padding: 4vh 2vw;
}
.legend {
  font-size: 2vw;
  padding: 0 2vw;
  text-transform: capitalize;
}
.shareBtn {
  padding: 2vh 4vw;
  font-size: 1.8vw;
  max-width: 50vw;
  margin: auto;
  display: block;
  width: 100%;
  border: 1px solid #ddd;
  background-color: transparent;
  border-radius: 3px;
  box-shadow: 0.3vw 0.3vw 0 0 #333;
  transition: box-shadow 0.3s ease-in-out;
}
.shareBtn:hover {
  cursor: pointer;
  box-shadow: 0.6vw 0.6vw 0 0 #333;
}
